* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222;
    color: #fff;
    padding-top: 70px;
}

header {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.navbar-brand,
.btn-cta {
    margin: 0px 10vw;
}

.btn-cta {
    background-color: #ff5500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

@media (max-width: 768px) {

    .navbar-brand,
    .btn-cta {
        margin: 0px auto;
        display: block;
        text-align: center;
    }

    .section-img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

/* SECTION DESTAQUES */

.section {
    padding: 60px 0;
}

#destaques {
    /* min-height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-destaque{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.social-media {
    margin-top: 30px;
    padding: 60px auto;
    list-style: none;
    width: 90%;
}

.fab {
    font-size: 60px;
}

.benefit-icon {
    font-size: 30px;
    margin: 20px;
}

.benefit-title {
    font-size: 20px;
}

.section-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

/* MENU DE ESFIHA */

.esfiha-menu {
    background-color: #333;
    padding: 60px 0;
}

.esfiha-card {
    background-color: #444;
    /* height: 475px; */
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.esfiha-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.esfiha-card-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.esfiha-card-description {
    font-size: 16px;
    margin-bottom: 5px;
}

.esfiha-card-price {
    font-size: 18px;
    font-weight: bold;
    color: #ff5500;
}

.option {
    background-color: #555;
    padding: 10px 0px 5px;
    width: 50%;
}

#btn-plus,
#btn-sub {
    height: 50px;
    min-width: 70px;
    font-size: 30px;
}
